<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Released on:</strong>
  <%= @book.released_on %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<ul>
  <% @book.characters.each do |character| %>
    <li><%= link_to character.name, character %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
