You are on page: <%= @page + 1 %>
<ul>
  <% @parks.each do |park| %>
    <li>
      <%= park.name %>
      <blockquote><%= park.location %></blockquote>
    </li>
  <% end %>
  <%= link_to "Next Page", parks_path(page: @page+1) %>
  <% if @page > 0 %>
    <%= link_to "Previous Page", parks_path(page: @page-1) %>
  <% end %>
</ul>
